Teamfolder/Group1/exercises/exercise03/MQTT-Simulation/MQTT-Simulation-flow.txt
[{"id":"3293e5597398a46a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"43ca5c8b159c1e1a","type":"mqtt in","z":"3293e5597398a46a","name":"","topic":"magnusp/temp","qos":"2","datatype":"auto-detect","broker":"a6d70975fa2b7055","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":360,"wires":[["52aecb8d3c747803"]]},{"id":"9fa1e159b33654ac","type":"mqtt out","z":"3293e5597398a46a","name":"","topic":"magnusp/temp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a6d70975fa2b7055","x":320,"y":220,"wires":[]},{"id":"ded874d00e2e08a3","type":"ui_slider","z":"3293e5597398a46a","name":"","label":"Slider","tooltip":"","group":"192f65a077aba48b","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"30","step":1,"className":"","x":130,"y":220,"wires":[["9fa1e159b33654ac","a5c173859e99b863"]]},{"id":"a5c173859e99b863","type":"ui_text","z":"3293e5597398a46a","group":"192f65a077aba48b","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} ºC","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":310,"y":180,"wires":[]},{"id":"52aecb8d3c747803","type":"switch","z":"3293e5597398a46a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"str"},{"t":"lte","v":"20","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":360,"wires":[["f03c3ad4ad2e4f68"],["15cc15536c6296ad"]]},{"id":"e97e441ba4c7e897","type":"mqtt in","z":"3293e5597398a46a","name":"","topic":"magnusp/AC/mode","qos":"2","datatype":"auto-detect","broker":"a6d70975fa2b7055","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":460,"wires":[["9152310958b44a05"]]},{"id":"b0498119ad047017","type":"mqtt out","z":"3293e5597398a46a","name":"","topic":"magnusp/AC/mode","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a6d70975fa2b7055","x":750,"y":360,"wires":[]},{"id":"f03c3ad4ad2e4f68","type":"change","z":"3293e5597398a46a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":340,"wires":[["b0498119ad047017"]]},{"id":"15cc15536c6296ad","type":"change","z":"3293e5597398a46a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[["b0498119ad047017"]]},{"id":"9152310958b44a05","type":"ui_text","z":"3293e5597398a46a","group":"192f65a077aba48b","order":2,"width":0,"height":0,"name":"","label":"AC MODE","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":390,"y":460,"wires":[]},{"id":"a6d70975fa2b7055","type":"mqtt-broker","name":"RaspberryPI","broker":"192.168.12.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"192f65a077aba48b","type":"ui_group","name":"ACSIM","tab":"643a765eb3a754fe","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"643a765eb3a754fe","type":"ui_tab","name":"AC","icon":"dashboard","disabled":false,"hidden":false}]