Teamfolder/Group1/exercises/exercise05/second-node/flow.txt
[{"id":"d4e5751fce4c3e3d","type":"tab","label":"second-node","disabled":false,"info":"","env":[]},{"id":"bfb303f2ce3dea93","type":"mqtt in","z":"d4e5751fce4c3e3d","name":"","topic":"thebests2/b1","qos":"2","datatype":"auto-detect","broker":"a6d70975fa2b7055","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":300,"wires":[["5430643d5ec5b848"]]},{"id":"6109fcf3595b7b70","type":"mqtt out","z":"d4e5751fce4c3e3d","name":"","topic":"thebests2/blue/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a6d70975fa2b7055","x":750,"y":300,"wires":[]},{"id":"0b6bb58dea24204b","type":"switch","z":"d4e5751fce4c3e3d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"released","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":300,"wires":[["f215254f2bd86098"],["ae7048d2ddc8a1e4"]]},{"id":"f215254f2bd86098","type":"change","z":"d4e5751fce4c3e3d","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":260,"wires":[["6109fcf3595b7b70"]]},{"id":"ae7048d2ddc8a1e4","type":"change","z":"d4e5751fce4c3e3d","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":340,"wires":[["6109fcf3595b7b70"]]},{"id":"5430643d5ec5b848","type":"rbe","z":"d4e5751fce4c3e3d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":270,"y":300,"wires":[["0b6bb58dea24204b"]]},{"id":"a6d70975fa2b7055","type":"mqtt-broker","name":"RaspberryPI","broker":"192.168.12.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]