Judit/researches/research11/flows.json
[{"id":"4da80b248d7010e5","type":"tab","label":"Final_project","disabled":false,"info":"","env":[]},{"id":"3903a7abf2af60a9","type":"switch","z":"4da80b248d7010e5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"f3351ca6","vt":"str"},{"t":"eq","v":"a3aeacab","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":540,"wires":[["7e2439dc82636267"],["b1a62082f4d1ce91"]]},{"id":"c761d276dee2b252","type":"mqtt in","z":"4da80b248d7010e5","name":"","topic":"RFID_Vin_ste/reader/uid","qos":"2","datatype":"auto","broker":"3704c1c476c0298b","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":540,"wires":[["3903a7abf2af60a9","d35b21788c222930"]]},{"id":"7e2439dc82636267","type":"change","z":"4da80b248d7010e5","name":"Granted","rules":[{"t":"set","p":"payload","pt":"msg","to":"Access Granted","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":500,"wires":[["2c275375f260efce","ef15308c8971907d","a73d20b819ee922b"]]},{"id":"b1a62082f4d1ce91","type":"change","z":"4da80b248d7010e5","name":"Denied","rules":[{"t":"set","p":"payload","pt":"msg","to":"Access Denied","tot":"str"},{"t":"set","p":"fcolor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":580,"wires":[["2c275375f260efce","f1a42a62b4d09840","a73d20b819ee922b"]]},{"id":"50cdec0ae554351a","type":"mqtt out","z":"4da80b248d7010e5","name":"","topic":"magnusp/rgb/green","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3704c1c476c0298b","x":1810,"y":220,"wires":[]},{"id":"ef15308c8971907d","type":"change","z":"4da80b248d7010e5","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":120,"wires":[["9180112984fe6a8f"]]},{"id":"f1a42a62b4d09840","type":"change","z":"4da80b248d7010e5","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":780,"wires":[["67c38c726a8880f6","ceaac2356c572039"]]},{"id":"74c1c61e7834260e","type":"mqtt out","z":"4da80b248d7010e5","name":"","topic":"Vin_ste_N2/oled","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3704c1c476c0298b","x":1790,"y":540,"wires":[]},{"id":"3eb823516eb2d73a","type":"trigger","z":"4da80b248d7010e5","name":"Access denied","op1":"&&clean","op2":"Access denied","op1type":"str","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1180,"y":440,"wires":[["4f981b1812ec4ff4","74c1c61e7834260e"]]},{"id":"2c275375f260efce","type":"switch","z":"4da80b248d7010e5","name":"Message sender","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Access Denied","vt":"str"},{"t":"eq","v":"Access Granted","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":540,"wires":[["3eb823516eb2d73a","05313906d0ad2c12"],["5d593375c5e3c381","ed5999ce4fb2d021"]]},{"id":"5d593375c5e3c381","type":"trigger","z":"4da80b248d7010e5","name":"Access Granted","op1":"&&clean","op2":"Access Granted","op1type":"str","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1180,"y":660,"wires":[["4f981b1812ec4ff4","74c1c61e7834260e"]]},{"id":"4f981b1812ec4ff4","type":"delay","z":"4da80b248d7010e5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1380,"y":540,"wires":[["7053d9acb32687f6"]]},{"id":"7053d9acb32687f6","type":"trigger","z":"4da80b248d7010e5","name":"","op1":"&&clean","op2":"Waiting for card","op1type":"str","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1530,"y":540,"wires":[["74c1c61e7834260e"]]},{"id":"64080aacd7a6d925","type":"trigger","z":"4da80b248d7010e5","name":"Green setter","op1":"255","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1250,"y":220,"wires":[["50cdec0ae554351a","c88a83a86e27d876"]]},{"id":"d2de14307d074de5","type":"mqtt out","z":"4da80b248d7010e5","name":"","topic":"magnusp/rgb/red","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3704c1c476c0298b","x":1810,"y":720,"wires":[]},{"id":"50e25b9ac43bf14e","type":"trigger","z":"4da80b248d7010e5","name":"Red setter","op1":"255","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1230,"y":720,"wires":[["34801eba10f8467c","d2de14307d074de5"]]},{"id":"4b40f766fc9c2326","type":"mqtt out","z":"4da80b248d7010e5","name":"","topic":"magnusp/buzzer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3704c1c476c0298b","x":1810,"y":880,"wires":[]},{"id":"67c38c726a8880f6","type":"trigger","z":"4da80b248d7010e5","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1080,"y":880,"wires":[["4b40f766fc9c2326"]]},{"id":"d35b21788c222930","type":"debug","z":"4da80b248d7010e5","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":440,"wires":[]},{"id":"85b01f66f6a35f5d","type":"trigger","z":"4da80b248d7010e5","name":"blue setter","op1":"255","op2":"255","op1type":"str","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1550,"y":840,"wires":[["0c6d999a469933ca"]]},{"id":"34801eba10f8467c","type":"delay","z":"4da80b248d7010e5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1380,"y":740,"wires":[["85b01f66f6a35f5d"]]},{"id":"0c6d999a469933ca","type":"mqtt out","z":"4da80b248d7010e5","name":"","topic":"magnusp/rgb/blue","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3704c1c476c0298b","x":1810,"y":780,"wires":[]},{"id":"ceaac2356c572039","type":"trigger","z":"4da80b248d7010e5","name":"set blue off","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1090,"y":780,"wires":[["0c6d999a469933ca","50e25b9ac43bf14e"]]},{"id":"9180112984fe6a8f","type":"trigger","z":"4da80b248d7010e5","name":"set blue off","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1090,"y":120,"wires":[["1eedb6ca435945cb","64080aacd7a6d925"]]},{"id":"1eedb6ca435945cb","type":"mqtt out","z":"4da80b248d7010e5","name":"","topic":"magnusp/rgb/blue","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3704c1c476c0298b","x":1810,"y":120,"wires":[]},{"id":"c88a83a86e27d876","type":"delay","z":"4da80b248d7010e5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1420,"y":180,"wires":[["537d844c8649fdf4"]]},{"id":"537d844c8649fdf4","type":"trigger","z":"4da80b248d7010e5","name":"blue setter","op1":"255","op2":"255","op1type":"str","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1590,"y":180,"wires":[["1eedb6ca435945cb"]]},{"id":"65ff8b645f8024c1","type":"mqtt in","z":"4da80b248d7010e5","name":"","topic":"Status","qos":"2","datatype":"auto","broker":"3704c1c476c0298b","nl":false,"rap":true,"rh":0,"inputs":0,"x":270,"y":620,"wires":[["471b61e56ae5a868"]]},{"id":"471b61e56ae5a868","type":"trigger","z":"4da80b248d7010e5","name":"Caller","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":680,"wires":[["ac9c4dd0e6865344"]]},{"id":"ac9c4dd0e6865344","type":"mqtt out","z":"4da80b248d7010e5","name":"","topic":"magnusp/LCD","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3704c1c476c0298b","x":300,"y":740,"wires":[]},{"id":"0374d21f4249b525","type":"ui_text","z":"4da80b248d7010e5","group":"a9b12e843a266612","order":5,"width":0,"height":0,"name":"","label":"Access:","format":"<font color= {{msg.color}}>{{msg.payload}}</font>","layout":"row-spread","className":"","style":true,"font":"Tahoma,Geneva,sans-serif","fontSize":"16","color":"#000000","x":1240,"y":540,"wires":[]},{"id":"1a79c16492ce7840","type":"function","z":"4da80b248d7010e5","name":"function 2","func":"// Initialize a circular buffer to store the last five times\nif (!context.timeBuffer) {\n    context.timeBuffer = [];\n}\n\n// Get the current time from the message\nconst currentTime = msg.mytimes;\n\n// Push the current time into the buffer\ncontext.timeBuffer.push(currentTime);\n\n// Limit the buffer size to the last 5 times\nif (context.timeBuffer.length > 5) {\n    context.timeBuffer.shift();\n}\n\n// Set the msg.previousTimes to the buffer\nmsg.previousTimes = context.timeBuffer;\n\n// Split the time string into hours, minutes, and seconds\nconst [hours, minutes, seconds] = currentTime.split(':');\n\n// Create a new Date object with the current date and the extracted time\nconst currentDate = new Date();\ncurrentDate.setHours(hours);\ncurrentDate.setMinutes(minutes);\ncurrentDate.setSeconds(seconds);\n\n// Format the current time\nconst formattedCurrentTime = currentDate.toLocaleString(); // You can customize the format as needed\n\n// Set the formatted time in msg.payload\nmsg.payload = formattedCurrentTime;\n\nreturn msg;\n\n\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":320,"wires":[["1ca5d3f384f21f5b","3eee0dd6f46e86f7"]]},{"id":"1ca5d3f384f21f5b","type":"ui_text","z":"4da80b248d7010e5","group":"a9b12e843a266612","order":4,"width":0,"height":0,"name":"","label":"Current Time","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1290,"y":340,"wires":[]},{"id":"a73d20b819ee922b","type":"simpletime","z":"4da80b248d7010e5","name":"","mydate":false,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":false,"mytimes":true,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":910,"y":320,"wires":[["1a79c16492ce7840"]]},{"id":"3eee0dd6f46e86f7","type":"function","z":"4da80b248d7010e5","name":"function 3","func":"// Assuming msg.previousTimes is an array containing the previous times as strings\nconst previousTimes = msg.previousTimes;\n\nif (Array.isArray(previousTimes) && previousTimes.length > 0) {\n    const formattedPreviousTimes = previousTimes.map(time => {\n        // Parse the time string into hours, minutes, and seconds\n        const [hours, minutes, seconds] = time.split(':');\n\n        // Create a new Date object with the current date and the extracted time\n        const currentDate = new Date();\n        currentDate.setHours(parseInt(hours, 10));\n        currentDate.setMinutes(parseInt(minutes, 10));\n        currentDate.setSeconds(parseInt(seconds, 10));\n\n        // Format the time\n        return currentDate.toLocaleString(); // Customize the format as needed\n    }).join(', ');\n\n    msg.payload = formattedPreviousTimes;\n} else {\n    msg.payload = \"No previous times available.\";\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":280,"wires":[["649408186c5e456c"]]},{"id":"649408186c5e456c","type":"ui_text","z":"4da80b248d7010e5","group":"a9b12e843a266612","order":6,"width":6,"height":6,"name":"","label":"Log In Times","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"","fontSize":"22","color":"#000000","x":1470,"y":280,"wires":[]},{"id":"05313906d0ad2c12","type":"change","z":"4da80b248d7010e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":500,"wires":[["0374d21f4249b525"]]},{"id":"ed5999ce4fb2d021","type":"change","z":"4da80b248d7010e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"lime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":580,"wires":[["0374d21f4249b525"]]},{"id":"3704c1c476c0298b","type":"mqtt-broker","name":"RaspberryPI","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a9b12e843a266612","type":"ui_group","name":"Calls","tab":"2d8e79821ea7a4ad","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2d8e79821ea7a4ad","type":"ui_tab","name":"Calls","icon":"dashboard","disabled":false,"hidden":false}]