Teamfolder/Group1/exercises/exercise04/node-red-basics/Simulation-flow.txt
[{"id":"467a6630404f772e","type":"tab","label":"Act 1","disabled":false,"info":"","env":[]},{"id":"189e25248309c9d5","type":"mqtt in","z":"467a6630404f772e","name":"","topic":"magnusp/temp","qos":"2","datatype":"auto-detect","broker":"a6d70975fa2b7055","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":620,"wires":[["ba6f79f110a16f09"]]},{"id":"600dbfd5315b6228","type":"mqtt out","z":"467a6630404f772e","name":"","topic":"magnusp/temp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a6d70975fa2b7055","x":380,"y":480,"wires":[]},{"id":"340e9533e4980b16","type":"ui_slider","z":"467a6630404f772e","name":"","label":"Slider","tooltip":"","group":"39b9f8a93e5c7f32","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"30","step":1,"className":"","x":190,"y":480,"wires":[["600dbfd5315b6228","f8cd8f8e1d6c6073"]]},{"id":"f8cd8f8e1d6c6073","type":"ui_text","z":"467a6630404f772e","group":"39b9f8a93e5c7f32","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} ºC","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":370,"y":440,"wires":[]},{"id":"ba6f79f110a16f09","type":"switch","z":"467a6630404f772e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"str"},{"t":"lte","v":"20","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":620,"wires":[["7a48b32187de3eae"],["5936f44b52406866"]]},{"id":"86a25abb815e01e4","type":"mqtt in","z":"467a6630404f772e","name":"","topic":"magnusp/AC/mode","qos":"2","datatype":"auto-detect","broker":"a6d70975fa2b7055","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":740,"wires":[["71325f246108f20e"]]},{"id":"adfacc9e10b26ed3","type":"mqtt out","z":"467a6630404f772e","name":"","topic":"magnusp/AC/mode","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a6d70975fa2b7055","x":810,"y":620,"wires":[]},{"id":"7a48b32187de3eae","type":"change","z":"467a6630404f772e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":600,"wires":[["adfacc9e10b26ed3"]]},{"id":"5936f44b52406866","type":"change","z":"467a6630404f772e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":640,"wires":[["adfacc9e10b26ed3"]]},{"id":"9fd51ebbc69ee109","type":"ui_text","z":"467a6630404f772e","group":"39b9f8a93e5c7f32","order":2,"width":0,"height":0,"name":"","label":"<font color={{msg.color}}>AC MODE</font>","format":"<font color= {{msg.color}}>{{msg.payload}}</font>","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":770,"y":740,"wires":[]},{"id":"71325f246108f20e","type":"switch","z":"467a6630404f772e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":740,"wires":[["841735fd4ba94033"],["7c55fbf55ec6f424"]]},{"id":"7c55fbf55ec6f424","type":"change","z":"467a6630404f772e","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":760,"wires":[["9fd51ebbc69ee109"]]},{"id":"841735fd4ba94033","type":"change","z":"467a6630404f772e","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"lime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":720,"wires":[["9fd51ebbc69ee109"]]},{"id":"a6d70975fa2b7055","type":"mqtt-broker","name":"RaspberryPI","broker":"192.168.12.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"39b9f8a93e5c7f32","type":"ui_group","name":"Act1","tab":"6d336441758420e3","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6d336441758420e3","type":"ui_tab","name":"Act1","icon":"dashboard","disabled":false,"hidden":false}]