Teamfolder/Group1/exercises/exercise04/emergency_button/flow.txt
[{"id":"955080c8860476a0","type":"tab","label":"Flow 10","disabled":false,"info":""},{"id":"e8da9e738a2297bb","type":"mqtt in","z":"955080c8860476a0","name":"","topic":"magnusp/emergency_button","qos":"2","datatype":"auto","broker":"3704c1c476c0298b","nl":false,"rap":true,"rh":0,"x":400,"y":300,"wires":[["dbd664262e998582"]]},{"id":"6c0ea289ec646e0c","type":"mqtt in","z":"955080c8860476a0","name":"","topic":"magnusp/button","qos":"2","datatype":"auto","broker":"3704c1c476c0298b","nl":false,"rap":true,"rh":0,"x":200,"y":1420,"wires":[["878e30fbc2688374"]]},{"id":"db9c88fb8d10b987","type":"debug","z":"955080c8860476a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1420,"wires":[]},{"id":"878e30fbc2688374","type":"rbe","z":"955080c8860476a0","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":410,"y":1420,"wires":[["db9c88fb8d10b987"]]},{"id":"dbd664262e998582","type":"rbe","z":"955080c8860476a0","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":590,"y":300,"wires":[["b94262344a08b5ed"]]},{"id":"bebee64f64d583ab","type":"discordMessageManager","z":"955080c8860476a0","name":"f","channel":"1164495245019463740","token":"","x":1130,"y":360,"wires":[[]]},{"id":"158f245239fdce46","type":"discordMessage","z":"955080c8860476a0","name":"","channelIdFilter":"1164495245019463740","token":"","x":390,"y":480,"wires":[["3e182f58caf5c5b4","79944edc9c897b97"]]},{"id":"23f096af96358f79","type":"change","z":"955080c8860476a0","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"EMERGENCY ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":260,"wires":[["bebee64f64d583ab"]]},{"id":"b94262344a08b5ed","type":"switch","z":"955080c8860476a0","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":740,"y":300,"wires":[["23f096af96358f79"],["ed012912d2b83bff"]]},{"id":"ed012912d2b83bff","type":"change","z":"955080c8860476a0","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"EMERGENCY OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":320,"wires":[["bebee64f64d583ab"]]},{"id":"8732c0e1c936e0e5","type":"change","z":"955080c8860476a0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":440,"wires":[["a53f094c79b26b63"]]},{"id":"3e182f58caf5c5b4","type":"switch","z":"955080c8860476a0","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"FOINT ON","vt":"str"},{"t":"eq","v":"FOINT OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":480,"wires":[["8732c0e1c936e0e5"],["28d6aa35035aaf73"]]},{"id":"28d6aa35035aaf73","type":"change","z":"955080c8860476a0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[["a53f094c79b26b63"]]},{"id":"a53f094c79b26b63","type":"mqtt out","z":"955080c8860476a0","name":"","topic":"magnusp/discord_led_control","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3704c1c476c0298b","x":1040,"y":480,"wires":[]},{"id":"79944edc9c897b97","type":"ui_audio","z":"955080c8860476a0","name":"","group":"e471d885145e2197","voice":"urn:moz-tts:sapi:Microsoft Zira Desktop - English (United States)?en-US","always":false,"x":680,"y":540,"wires":[]},{"id":"3704c1c476c0298b","type":"mqtt-broker","name":"RaspberryPI","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e471d885145e2197","type":"ui_group","name":"ACSIM","tab":"b05d0b9563b9d79c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b05d0b9563b9d79c","type":"ui_tab","name":"AC","icon":"dashboard","disabled":false,"hidden":false}]