Teamfolder/Group1/exercises/exercise05/BUTTONTOAUDIO/buttonToAudio.txt
[{"id":"1141724e45200ca2","type":"tab","label":"Button to audio","disabled":false,"info":""},{"id":"f10babe4cfe699d8","type":"mqtt in","z":"1141724e45200ca2","name":"","topic":"thebests/b1","qos":"2","datatype":"auto","broker":"3704c1c476c0298b","nl":false,"rap":true,"rh":0,"x":90,"y":280,"wires":[["f51d4fb82bea0255"]]},{"id":"08996d1263232cc3","type":"switch","z":"1141724e45200ca2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"released","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":280,"wires":[["8f8bf34e670b8b8b"],["0272f7d6e3a4d0ba"]]},{"id":"8f8bf34e670b8b8b","type":"change","z":"1141724e45200ca2","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":240,"wires":[["85352fc61aab065e"]]},{"id":"0272f7d6e3a4d0ba","type":"change","z":"1141724e45200ca2","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":320,"wires":[["85352fc61aab065e"]]},{"id":"85352fc61aab065e","type":"ui_audio","z":"1141724e45200ca2","name":"","group":"e471d885145e2197","voice":"Microsoft Susan - English (United Kingdom)","always":"","x":740,"y":280,"wires":[]},{"id":"f51d4fb82bea0255","type":"rbe","z":"1141724e45200ca2","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":250,"y":280,"wires":[["08996d1263232cc3"]]},{"id":"3704c1c476c0298b","type":"mqtt-broker","name":"RaspberryPI","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e471d885145e2197","type":"ui_group","name":"ACSIM","tab":"b05d0b9563b9d79c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b05d0b9563b9d79c","type":"ui_tab","name":"AC","icon":"dashboard","disabled":false,"hidden":false}]