Teamfolder/Group1/exercises/exercise06/RFID/flow.txt
[{"id":"ba4ee15834698c21","type":"tab","label":"RFID Reader","disabled":false,"info":""},{"id":"0254e14e5c5a4191","type":"mqtt in","z":"ba4ee15834698c21","name":"","topic":"RFID_FJJ/reader/uid","qos":"2","datatype":"auto","broker":"3704c1c476c0298b","nl":false,"rap":true,"rh":0,"x":190,"y":300,"wires":[["c12873ca876d5710"]]},{"id":"8b4712d66b1c7c1e","type":"debug","z":"ba4ee15834698c21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":300,"wires":[]},{"id":"c12873ca876d5710","type":"switch","z":"ba4ee15834698c21","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"f3351ca6","vt":"str"},{"t":"neq","v":"f3351ca6","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":300,"wires":[["841e0ec3cb410194"],["04ceafb8cd9befff"]]},{"id":"841e0ec3cb410194","type":"change","z":"ba4ee15834698c21","name":"Granted","rules":[{"t":"set","p":"payload","pt":"msg","to":"Access Granted","tot":"str"},{"t":"set","p":"fcolor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":260,"wires":[["8b4712d66b1c7c1e","9844aefb5e979b86"]]},{"id":"04ceafb8cd9befff","type":"change","z":"ba4ee15834698c21","name":"Denied","rules":[{"t":"set","p":"payload","pt":"msg","to":"Access Denied","tot":"str"},{"t":"set","p":"fcolor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":340,"wires":[["8b4712d66b1c7c1e","9844aefb5e979b86"]]},{"id":"9844aefb5e979b86","type":"ui_text","z":"ba4ee15834698c21","group":"e9c075ed216e8494","order":0,"width":0,"height":0,"name":"","label":"<font color={{fcolor}}>Scan Tag:</font>","format":"<font color={{fcolor}}>{{msg.payload}}</font>","layout":"row-spread","className":"","x":1130,"y":140,"wires":[]},{"id":"3a1e570d25b128d3","type":"ui_switch","z":"ba4ee15834698c21","name":"","label":"switch","tooltip":"","group":"afce0b53f142fd3a","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":330,"y":520,"wires":[[]]},{"id":"b534111b79b9791d","type":"ui_button","z":"ba4ee15834698c21","name":"","group":"e9c075ed216e8494","order":5,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Waiting for input","payloadType":"str","topic":"topic","topicType":"msg","x":710,"y":440,"wires":[["00f0c88e70e87b50"]]},{"id":"00f0c88e70e87b50","type":"change","z":"ba4ee15834698c21","name":"","rules":[{"t":"set","p":"fcolor","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":400,"wires":[["9844aefb5e979b86"]]},{"id":"3704c1c476c0298b","type":"mqtt-broker","name":"RaspberryPI","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e9c075ed216e8494","type":"ui_group","name":"RFID READER","tab":"b05d0b9563b9d79c","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"afce0b53f142fd3a","type":"ui_group","name":"Home dashboard","tab":"b6106785d236c00f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b05d0b9563b9d79c","type":"ui_tab","name":"AC","icon":"dashboard","disabled":false,"hidden":false},{"id":"b6106785d236c00f","type":"ui_tab","d":true,"name":"Home","icon":"dashboard","disabled":false,"hidden":false}]