Teamfolder/Group1/exercises/exercise04/remote-control/flow.txt
[{"id":"c9bb1426279cca85","type":"tab","label":"Remote control, discord","disabled":false,"info":""},{"id":"293d91aba859835d","type":"debug","z":"c9bb1426279cca85","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"26468e9b518b184b","type":"mqtt in","z":"c9bb1426279cca85","name":"","topic":"thebests/#","qos":"2","datatype":"auto","broker":"3704c1c476c0298b","nl":false,"rap":true,"rh":0,"x":210,"y":180,"wires":[["293d91aba859835d"]]},{"id":"5de5162153ab99b9","type":"mqtt out","z":"c9bb1426279cca85","name":"","topic":"thebests/blue","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3704c1c476c0298b","x":540,"y":100,"wires":[]},{"id":"0c62d1cd446ec2c1","type":"inject","z":"c9bb1426279cca85","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["ab1dcf336f61d597"]]},{"id":"ab1dcf336f61d597","type":"change","z":"c9bb1426279cca85","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":100,"wires":[["5de5162153ab99b9"]]},{"id":"eb538ef169e2326f","type":"debug","z":"c9bb1426279cca85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":360,"wires":[]},{"id":"e4df3b5011a7fea2","type":"mqtt in","z":"c9bb1426279cca85","name":"","topic":"thebests/b1","qos":"2","datatype":"auto","broker":"3704c1c476c0298b","nl":false,"rap":true,"rh":0,"x":370,"y":420,"wires":[["45a533db7c75ed15"]]},{"id":"45a533db7c75ed15","type":"switch","z":"c9bb1426279cca85","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pressed","vt":"str"},{"t":"eq","v":"released","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":420,"wires":[["2727dbecfdf3eead"],["f0faac16367c0ad0"]]},{"id":"2727dbecfdf3eead","type":"change","z":"c9bb1426279cca85","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[["17026ba50bf0d7a4","eb538ef169e2326f"]]},{"id":"f0faac16367c0ad0","type":"change","z":"c9bb1426279cca85","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":460,"wires":[["17026ba50bf0d7a4","eb538ef169e2326f"]]},{"id":"17026ba50bf0d7a4","type":"mqtt out","z":"c9bb1426279cca85","name":"","topic":"thebests2/blue/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3704c1c476c0298b","x":840,"y":440,"wires":[]},{"id":"3704c1c476c0298b","type":"mqtt-broker","name":"RaspberryPI","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]