Teamfolder/Final Project/M5 Stick 2/M5_MQTT/flows.json
[{"id":"45498daae9e5f34c","type":"tab","label":"2nd M5","disabled":false,"info":"","env":[]},{"id":"43edf03966487579","type":"mqtt out","z":"45498daae9e5f34c","name":"","topic":"magnusp/LCD","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3704c1c476c0298b","x":760,"y":280,"wires":[]},{"id":"bca032571163fb55","type":"switch","z":"45498daae9e5f34c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":280,"wires":[["ff06374b1f606624"],["881e6e8d65c108e5"]]},{"id":"ff06374b1f606624","type":"change","z":"45498daae9e5f34c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[["43edf03966487579","0d59befc5119ac7a"]]},{"id":"881e6e8d65c108e5","type":"change","z":"45498daae9e5f34c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":320,"wires":[["43edf03966487579","14dac457053ce02f"]]},{"id":"cc4cd5701551b364","type":"ui_text","z":"45498daae9e5f34c","group":"a9b12e843a266612","order":3,"width":6,"height":1,"name":"","label":"{{msg.label}}","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":970,"y":280,"wires":[]},{"id":"14dac457053ce02f","type":"change","z":"45498daae9e5f34c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"No calls","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"<i class=\"fa fa-square\" aria-hidden=\"true\"></i>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["cc4cd5701551b364"]]},{"id":"0d59befc5119ac7a","type":"change","z":"45498daae9e5f34c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Incoming Call","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"<i class=\"fa fa-phone-square\" aria-hidden=\"true\"></i>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":180,"wires":[["cc4cd5701551b364"]]},{"id":"516a628ce09e1dcc","type":"ui_button","z":"45498daae9e5f34c","name":"","group":"a9b12e843a266612","order":1,"width":3,"height":1,"passthru":false,"label":"Call","tooltip":"","color":"","bgcolor":"#87A980","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":170,"y":240,"wires":[["bca032571163fb55"]]},{"id":"782c6f3958cb5a68","type":"ui_button","z":"45498daae9e5f34c","name":"","group":"a9b12e843a266612","order":2,"width":3,"height":1,"passthru":false,"label":"No call","tooltip":"","color":"","bgcolor":"#f26b6b","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":170,"y":320,"wires":[["bca032571163fb55"]]},{"id":"3704c1c476c0298b","type":"mqtt-broker","name":"RaspberryPI","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a9b12e843a266612","type":"ui_group","name":"Calls","tab":"2d8e79821ea7a4ad","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2d8e79821ea7a4ad","type":"ui_tab","name":"Calls","icon":"dashboard","disabled":false,"hidden":false}]