Teamfolder/Final Project/M5 Stick 2/M5_MQTT/flow.txt
[{"id":"f3a5a84b0ff30bfc","type":"tab","label":"m5 stick","disabled":false,"info":"","env":[]},{"id":"52a8fcbe7bb72de8","type":"inject","z":"f3a5a84b0ff30bfc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":310,"y":400,"wires":[["2d5014f230a7b541"]]},{"id":"2d5014f230a7b541","type":"mqtt out","z":"f3a5a84b0ff30bfc","name":"","topic":"magnusp/LCD","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a6d70975fa2b7055","x":540,"y":440,"wires":[]},{"id":"857508b6938a1c27","type":"inject","z":"f3a5a84b0ff30bfc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":310,"y":460,"wires":[["2d5014f230a7b541"]]},{"id":"a6d70975fa2b7055","type":"mqtt-broker","name":"RaspberryPI","broker":"192.168.12.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]